<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhuoyuan.li.fluttershareme">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider343254889799245"
            android:exported="false" />
        <provider
            android:name=".util.ShareFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
